body {
  margin: 0;
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(https://lh3.googleusercontent.com/a2ta7iPqUWxWyGa-K2iKtLOvlHgkiALpqyYEktvTCTcg2AlheoNF6YkcrwXrKvcOpjkUVgE7vDoVGPMFveu2LvxMD9KElpUbmZal1e8nVOsZqBmXp_LnrNmVCEe24_STVU0WVtN2mBVRx-GOR2BqDuN-_qszn1ILDQ6rkHVAVAddLZ0vWxLjEPJr9MrgI-a5nLh6_SPYlM9Aw7BVmSK1cU8KaO_woeJJgiQicOkOdXY0IGArseiIgtn_WoW6tfqZvkucu3tsbDayUQYH2o4tg9US_tptUemEuYn_aykmPjeKN_mU--ee2cRFKJY5BZNWo58ad9aVD1e-1_D08IR3OXfzi0KUy9gkp8xY7zsgMgrTA-L7TDbOCTsXsd1QLTn6EQbvF9pkFCexvmF5eUn2rVC6W5RZm3ffcWS96JMqdDl7mmiY3vEH-QdI1XMDogxoONthuuUm6WWpNUpU2enm42JlF7AL-xzMVTkpAwBmk6yOoeiBBEpOFc3v1HdAyp4L8G-BzUAX_9_Kq3zCLddXXkBNBLnaztA0KvRL4a8ZZHb-HdLvGL30oWVl-iLzrpXF81EdtIUa5QoT_dvZ5XRWby1x3qS864V-mthFhoU329Gy0XwkLBvFdOYichdWIYpE4VZiYYU-RrqG_837YaZj74faRoLqwK-y4QA_8ViV09J0zhxkra6gN64dDHtK-8wV5mFga6wQchxA6lrAnlJtuuE=w1718-h967-no?authuser=1);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* NAVBAR */

.navbar {
  background-color: #4C6A6E;
}

.navbar-item {
  color: white !important
}

.custom-btn {
  font-family: 'Raleway', sans-serif !important;
  border: none !important;
  color: white !important;
  background-color: rgba(0,0,0,0) !important;
}

.item-style {
  color: rgba(255,255,255,.8) !important
}

.white-bar {
  background-color: white;
  height: 10px;
}

#basic-nav-dropdown {
  color: rgba(255,255,255,.8) !important
}

/* FOOTER */
.footer{
  background-color: rgb(51,51,51);
  padding-top: 20px;
  padding-left: 20% !important;
  padding-right: 20% !important;
  max-width: 100% !important;
}
.footer-items {
  text-align: center;
  color: white;
  font-family: 'Raleway', sans-serif;
  padding-bottom: 35px;
}

.footer-text {
  font-size: 14px;
}

.subscribe-box {
  background-color: rgb(85,85,85);
  max-width: 100%;
  padding: 15px !important;
}

.subscribe-btn {
  background-color: rgb(200,200,200) !important;
  color:black !important;
  border:none !important;
  border-radius: 0% !important;
  text-align: center !important;
  font-family: 'Raleway', sans-serif;
}

.subscribe-btn:hover {
  background-color: rgb(250,250,250) !important;
}

.email-box {
  background-color: rgb(130,130,130) !important;
  color: white !important;
  border: none !important;
  max-width: 100%;
  border-radius: 0% !important;
}

.form-control::-webkit-input-placeholder {
  color: white !important;
}

/* HOME */
.feat-box {
  background-color: rgba(81,81,81,.5);
  padding: 3vw 0;
  margin: auto;
  text-align: center;
}

.feat-text {
  font-family: 'Spinnaker', sans-serif;
  color: white;
  font-weight: 700;
  letter-spacing: 0.92px;
  font-size: 46px;
}

.feat-btn {
  letter-spacing: 0.5px;
  background-color: rgb(85,85,85) !important;
  color:white !important;
  border-radius: 0px !important;
  border:none !important;
  align-items: center;
  font-size: 18px !important;
}

.feat-btn:hover {
  background-color: rgb(250,250,250) !important;
  color: rgb(85,85,85) !important;
}
.new-release-div {
  background-color: rgb(102,102,102);
  color: white;
  height: 3rem;
  text-align: center;
  letter-spacing: 3.9px;
  padding: 10px;
  font-weight: 500;
}

.new-release-text {
  font-family: 'Spinnaker', sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 10.8px;
  color: rgb(85,85,85);
}

.new-release-subtext {
  font-family:'Raleway',sans-serif; 
  font-size:19px; 
  letter-spacing:0.3em; 
  text-align:center
}

.card-btn {
  background-color: rgb(51,51,51) !important;
  border-radius: 0px !important;
  border: none !important;
  letter-spacing: 0.8px;
  color: white !important;
  width: 100%;
  font-weight: 600;
}

.card-btn:hover {
  background-color: rgb(90,90,90) !important;
}

/* ABOUT US */

.aboutus-text {
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  color: black;
  color: rgb(85,85,85);
}

.mv-title {
  font-family: 'Spinnaker', sans-serif;
  font-size: 47px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.mv-text {
  color: rgb(85,85,85);
  font-family: 'Raleway', sans-serif;
  font-size: 29px;
  text-align: center;
}

/* CONTACT US*/

.contactus-text {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  color: rgb(85,85,85);
  text-align: center;
}

.form-text {
  font-family: 'Raleway', sans-serif;
  text-align: center;
  font-size: 22px;
}

.form-box {
  background-color: rgb(85,85,85);
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  padding: 10px;
}

.form-input {
  background-color: rgba(130,130,130,.5) !important;
  color: white !important;
  border: none !important;
  max-width: 100%;
  border-radius: 0% !important;
}

.form-submit {
  letter-spacing: 0.5px;
  background-color: rgb(51,51,51) !important;
  color:white !important;
  border-radius: 0px !important;
  border:none !important;
}

.form-submit:hover {
  background-color: rgba(255,255,255) !important;
  color: rgb(85,85,85) !important;
}

.follow-text {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 5.7px;
  color: rgb(85,85,85);
}

.map-container {
  height: 500px;
}

/* BEST SELLER */

.center-caption {
  transform: translateY(-50%);
  top: 50%;
  bottom: initial !important;
  background-color: rgba(85,85,85,0.5);
  color: white;
  width: fit-content;
}

.caption-title {
  font-family: 'Spinnaker', sans-serif;
  font-size: 45px;
  font-weight: 700;
  text-align: center;
}

.caption-text {
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  background-color: rgb(51,51,51);
}

.bestseller-desc {
  background-color: rgba(85,85,85,0.5);
  text-align: justify;
  color: white;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 400;
  letter-spacing: 3px;
}

.bestsellers-img {
  height: 300px;
}

.bestseller-btn {
  letter-spacing: 0.5px;
  background-color: rgb(51,51,51) !important;
  color:white !important;
  border-radius: 0px !important;
  border:none !important;
  font-size: 25px;
}

.bestseller-btn:hover {
  background-color: rgba(255,255,255) !important;
  color: rgb(85,85,85) !important;
}
/* MULTIPURPOSE */

.bg-blue {
  background-color: rgba(185, 215, 211, 0.4);
  margin-bottom: 10px;
}

.page-title {
  font-family: 'Spinnaker', sans-serif;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}



